[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libfuse/external/spdlog"]
	path = libfuseHPM/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libfuse/external/json"]
	path = libfuseHPM/external/json
	url = https://github.com/nlohmann/json.git
