[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libfuse/external/spdlog"]
	path = libfuse/external/spdlog
	url = https://github.com/gabime/spdlog.git
